In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
df1= pd.read_excel('RESERVES MEC UOC.xlsx')
df1.head()

,Número de reserva,Número de reserva corto,Fecha de creación de la reserva (UTC),Empresa usuaria,Estado civil,Matrícula,Marca,Modelo,Categoría,Cliente,...,Código del cupón,Grupo de vale,Miembro ID,Vehículo ID,Pre Booked,Replacement vehicle,Booking member type,Last update date (UTC),Last update done by,Uso del vehículo
0,9f866cac-5ad1-4851-89c7-ff079d915943,9F866CAC,2022-03-21 18:51:00,MEC CARSHARING,NaN,0934 LFF,Nissan,Leaf 40,4.0,COMPARTIM TURISME SOSTENIBLE,...,NaN,NaN,cbf75a94-4545-46d1-bed2-37e46f7f5dbb,1be84e1f-76e4-44b2-898c-59ccf1a2f521,False,False,PARTICULARS VILAFRANCA,2022-03-21 18:51:00,member,B2B_PLANNED_USAGE
1,410761c2-3272-473c-b0ec-8154c5aac592,410761C2,2022-03-21 17:58:00,MEC CARSHARING,NaN,0934 LFF,Nissan,Leaf 40,4.0,COMPARTIM TURISME SOSTENIBLE,...,NaN,NaN,f7d37346-e562-406e-8d2c-aa97c9ca407e,1be84e1f-76e4-44b2-898c-59ccf1a2f521,False,False,PARTICULARS VILAFRANCA,2022-03-21 20:07:00,system,B2B_PLANNED_USAGE
2,54f2d835-cffd-45f5-be77-df522c50e45a,54F2D835,2022-03-16 07:40:00,MEC CARSHARING,NaN,0859 LFF,Nissan,Leaf 40,5.0,COMPARTIM TURISME SOSTENIBLE,...,NaN,NaN,3b602aa5-d71a-44d2-b9b1-0e2294afd2df,7a837f9a-c136-4f56-9b3c-22f8bbd9700a,False,False,PARTICULARS BCN,2022-03-21 17:29:00,system,B2B_PLANNED_USAGE
3,1deaef00-b2f4-4684-b96a-33cd715df031,1DEAEF00,2022-03-21 16:06:00,MEC CARSHARING,MR,0945 LFF,Nissan,Leaf 40,5.0,COMPARTIM TURISME SOSTENIBLE,...,NaN,NaN,a1e03cfc-3db2-4b04-bd1a-67432ca0329f,aebc67c7-dd95-4403-b3e1-33dc61009776,False,False,CUSTOM,2022-03-21 16:58:00,system,B2B_PLANNED_USAGE
4,011531a7-267f-4a7f-b79c-a98b810682a0,011531A7,2022-03-21 16:39:00,MEC CARSHARING,NaN,0983 LFF,Nissan,Leaf 40,5.0,COMPARTIM TURISME SOSTENIBLE,...,NaN,NaN,39cff8dd-ab29-41aa-92c8-642559ce1a2b,1647e441-b651-483b-8d24-3a750e5b30e3,False,False,PARTICULARS BCN,2022-03-21 16:39:00,member,B2B_PLANNED_USAGE

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17649 entries, 0 to 17648
Data columns (total 62 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Número de reserva                         17649 non-null  object
 1   Número de reserva corto                   17649 non-null  object
 2   Fecha de creación de la reserva (UTC)     17649 non-null  datetime64[ns]
 3   Empresa usuaria                           17649 non-null  object
 4   Estado civil                              10283 non-null  object
 5   Matrícula                                 17649 non-null  object
 6   Marca                                     17649 non-null  object
 7   Modelo                                    17649 non-null  object
 8   Categoría                                 17649 non-null  object
 9   Cliente                                   17649 non-null  object
 10  Sitio de inicio                           17649 non-null  object
 11  Zona horaria del sitio de inicio          17649 non-null  object
 12  Sitio final                               17636 non-null  object
 13  Zona horaria del sitio final              17636 non-null  object
 14  Parking de inicio                         17649 non-null  object
 15  Aparcamiento de llegada                   17636 non-null  object
 16  Estado de la reserva                      17649 non-null  object
 17  Inicio estimado de la reserva             17649 non-null  datetime64[ns]
 18  Final estimado de la reserva              17649 non-null  datetime64[ns]
 19  Inicio real de la reserva                 13887 non-null  datetime64[ns]
 20  Final real de la reserva                  13702 non-null  datetime64[ns]
 21  Retrasada                                 7599 non-null   object
 22  Duración del retraso                      4688 non-null   object
 23  Duración del viaje                        13702 non-null  object
 24  Kilometraje inicial                       13534 non-null  float64
 25  Kilometraje final                         13702 non-null  float64
 26  Kilometraje del viaje                     13428 non-null  float64
 27  Nivel de combustible inicial              12663 non-null  float64
 28  Nivel de combustible final                12740 non-null  float64
 29  Tipo de reserva                           17649 non-null  object
 30  Uso                                       17649 non-null  object
 31  Reserva pagada                            17649 non-null  bool
 32  Número de factura                         0 non-null      float64
 33  Moneda                                    17649 non-null  object
 34  Coste del tiempo de duración              17483 non-null  float64
 35  Coste de la distancia recorrida           4126 non-null   float64
 36  Cuota de retraso                          4126 non-null   float64
 37  Kilometraje incluido                      5163 non-null   float64
 38  Kilómetros pagados                        3860 non-null   float64
 39  Precio por km                             17649 non-null  float64
 40  Coste fijo de la penalización de retraso  5329 non-null   float64
 41  Penalización de retraso por hora          5329 non-null   float64
 42  Total sin IVA:                            4756 non-null   float64
 43  Importe del IVA                           4756 non-null   float64
 44  Precio con IVA                            4756 non-null   float64
 45  Estado del pago                           5201 non-null   object
 46  Remaining amount to charge                14735 non-null  float64
 47  Comentario                                965 non-null    object
 48  Número VIN                                17649 non-null  object
 49  Viaje compartido abierto                  17649 non-null  bool
 50  NPS                                       7782 non-null   float64
 51  Comentario de NPS                         477 non-null    object
 52  Código del cupón                          225 non-null    object
 53  Grupo de vale                             225 non-null    object
 54  Miembro ID                                17649 non-null  object
 55  Vehículo ID                               17649 non-null  object
 56  Pre Booked                                17645 non-null  object
 57  Replacement vehicle                       9113 non-null   object
 58  Booking member type                       8075 non-null   object
 59  Last update date (UTC)                    15037 non-null  datetime64[ns]
 60  Last update done by                       7607 non-null   object
 61  Uso del vehículo                          7954 non-null   object
dtypes: bool(2), datetime64[ns](6), float64(19), object(35)
memory usage: 8.1+ MB

In [31]:
# Deleting few columns
DeleteList=['Zona horaria del sitio de inicio','Zona horaria del sitio final','Tipo de reserva','Número de factura',
            'Moneda','Cuota de retraso','Coste fijo de la penalización de retraso' , 'Penalización de retraso por hora','Comentario'
           ,'Comentario de NPS','Código del cupón','Grupo de vale']
df1=df1.drop(DeleteList, axis=1)

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17649 entries, 0 to 17648
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Número de reserva                      17649 non-null  object
 1   Número de reserva corto                17649 non-null  object
 2   Fecha de creación de la reserva (UTC)  17649 non-null  datetime64[ns]
 3   Empresa usuaria                        17649 non-null  object
 4   Estado civil                           10283 non-null  object
 5   Matrícula                              17649 non-null  object
 6   Marca                                  17649 non-null  object
 7   Modelo                                 17649 non-null  object
 8   Categoría                              17649 non-null  object
 9   Cliente                                17649 non-null  object
 10  Sitio de inicio                        17649 non-null  object
 11  Sitio final                            17636 non-null  object
 12  Parking de inicio                      17649 non-null  object
 13  Aparcamiento de llegada                17636 non-null  object
 14  Estado de la reserva                   17649 non-null  object
 15  Inicio estimado de la reserva          17649 non-null  datetime64[ns]
 16  Final estimado de la reserva           17649 non-null  datetime64[ns]
 17  Inicio real de la reserva              13887 non-null  datetime64[ns]
 18  Final real de la reserva               13702 non-null  datetime64[ns]
 19  Retrasada                              7599 non-null   object
 20  Duración del retraso                   4688 non-null   object
 21  Duración del viaje                     13702 non-null  object
 22  Kilometraje inicial                    13534 non-null  float64
 23  Kilometraje final                      13702 non-null  float64
 24  Kilometraje del viaje                  13428 non-null  float64
 25  Nivel de combustible inicial           12663 non-null  float64
 26  Nivel de combustible final             12740 non-null  float64
 27  Uso                                    17649 non-null  object
 28  Reserva pagada                         17649 non-null  bool
 29  Coste del tiempo de duración           17483 non-null  float64
 30  Coste de la distancia recorrida        4126 non-null   float64
 31  Kilometraje incluido                   5163 non-null   float64
 32  Kilómetros pagados                     3860 non-null   float64
 33  Precio por km                          17649 non-null  float64
 34  Total sin IVA:                         4756 non-null   float64
 35  Importe del IVA                        4756 non-null   float64
 36  Precio con IVA                         4756 non-null   float64
 37  Estado del pago                        5201 non-null   object
 38  Remaining amount to charge             14735 non-null  float64
 39  Número VIN                             17649 non-null  object
 40  Viaje compartido abierto               17649 non-null  bool
 41  NPS                                    7782 non-null   float64
 42  Miembro ID                             17649 non-null  object
 43  Vehículo ID                            17649 non-null  object
 44  Pre Booked                             17645 non-null  object
 45  Replacement vehicle                    9113 non-null   object
 46  Booking member type                    8075 non-null   object
 47  Last update date (UTC)                 15037 non-null  datetime64[ns]
 48  Last update done by                    7607 non-null   object
 49  Uso del vehículo                       7954 non-null   object
dtypes: bool(2), datetime64[ns](6), float64(15), object(27)
memory usage: 6.5+ MB

In [36]:
#rename the name of the variables
Df1 = df1.copy()                                     # Create copy of DataFrame
Df1.columns = ["Reservation number", "Short reservation number", "Reservation creation date", "User company","Civil status","Enrollment code",
               "Brand","Model","Category","Client","Inicial location","Final location","initial parking site","final parking site"," reservation status"
               ," Estimated start of reservation","Estimated end of reservation", "Actual reservation start","Actual reservation end","Delayed status","Delay duration","Travel time","Initial mile","Final mile"
               ,"Calculated trip mile","Initial fuel level","Final fuel level","Type of use","Paid reservation status","Duration time cost","cost of distance traveled"
               ,"Mileage included","Paid Kilometers","Price per km","Total without IVA","IVA amount","price included IVA"," Payment status",
               "Remaining amount to charge"," VIN number","Open carpool","NPS","Member ID",
               "Vehicle ID","pre-booked status","Replacement vehicle","Booking member type","Last update date","Last update done by","vehicle use"]                # Using columns attribute